[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = git://github.com/vim-scripts/YankRing.vim.git
