[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/git-vim"]
	path = bundle/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = git://github.com/guileen/vim-node.git
[submodule "bundle/vim-nodejs-complete"]
	path = bundle/vim-nodejs-complete
	url = git://github.com/myhere/vim-nodejs-complete.git
